<div class=body>
	<p>
		<img src=\images\motel\motel-865303_640.jpg 'Building'>
	</p><br>
	<p>
		Featuring a relaxing atmosphere and splendid décor, Rocky River Motel provides the finest lodging for the most reasonable rates in the New Milford/Danbury area. Our guest rooms are cozy and comfortable, complete with elegant appointments and modern-day amenities such as free WiFi highspeed wireless internet. Best of all, the price is just right. In fact, you will pay 10-20% less here than you would at ordinary hotels throughout Danbury. Our goal is for you to enjoy your stay and get a great night's sleep.
	</p>
</div>