<div class="main-footer">
  <% if (theme.copyright) { %>
    <%- theme.copyright %>
  <% } else { %>
    © <%= new Date().getFullYear() %> <%= config.title %> - Powered by <a href="http://therockyrivermotel.com" target="_blank">therockyrivermotel</a> - Theme therockyrivermotel.com</a>
  <% } %>
</div>
